:root {
  --primary: #033195;
  --primary-deep: #04224B;
  --secondary: #1282a2;
  --ass: #606060;
  --black-light: #212121;
  --white: #ffffff;
  --font-satoshi: "Satoshi", sans-serif;
}


.item{
  border-right:1px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@media (max-width: 992px) {
  .item {
    border-right: none;
  }
}


.item h5{
  font: 700 24px var(--font-satoshi);
  line-height: 32px;
}

.item span{
  font: 500 16px var(--font-satoshi);
  line-height: 21px;
}



.item:last-child{
  border:none
}
