.solutions_item {
  position: relative;
  margin-bottom: 20px;
  padding:  0px;
  transition: ease-in-out 0.3s;
  z-index: 0;
  display: inline-block;
  background: white;
  width: 100%;
  border: 1px solid #CBCBCB
}

.solutions_box{
  padding: 20px 20px 0;
}


/* title  */
.solutions_title {
  font: 900 20px var(--font-satoshi);
  color: var(--black-light);
    padding-bottom: 5px;

}

.solutions_content {
  color: var(--ass);
  font: 400 14px var(--font-satoshi);
  padding-bottom: 30px;
}



.solution_icon {
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border: 1px solid var(--ass);
  border-radius: 50%;
  transition: ease-in-out 0.3s;
  color: var(--ass);
}

.solutions_item:hover .solution_icon {
  border-color: var(--primary);
  color: var(--primary);
}