:root {
  --primary: #033195;
  --primary-deep: #04224b;
  --secondary: #1282a2;
  --ass: #606060;
  --black-light: #212121;
  --white: #ffffff;
  --light-white: #f4f4f4;
  --font-satoshi: "Satoshi", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: var(--font-satoshi);
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
}

/*  ===========================  utility class   =======================*/

/* color and bg  */
.light-white-bg {
  background: var(--light-white);
}
.primary-bg {
  background: var(--primary);
}
.primary-deep-bg {
  background: var(--primary-deep);
}
.ass-bg {
  background: var(--ass);
}

.primary-color {
  color: var(--primary);
}
.primary-deep-color {
  color: var(--primary-deep);
}
.ass-color {
  color: var(--ass);
}

.color-white {
  color: var(--white);
}
/* color and bg  */

/* font  */
.font-18 {
  font-size: 18px;
}
/* font XX */

.pt-20,
.p-20,
.py-20 {
  padding-top: 80px;
}
.pr-20,
.p-20,
.px-20 {
  padding-right: 80px;
}
.pb-20,
.p-20,
.py-20 {
  padding-bottom: 80px;
}
.pl-20,
.p-20,
.px-20 {
  padding-left: 80px;
}

@media only screen and (max-width: 768px) {
  .pt-20,
  .p-20,
  .py-20 {
    padding-top: 60px;
  }

  .pr-20,
  .p-20,
  .px-20 {
    padding-right: 60px;
  }

  .pb-20,
  .p-20,
  .py-20 {
    padding-bottom: 60px;
  }

  .pl-20,
  .p-20,
  .px-20 {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 576px) {
  .pt-20,
  .p-20,
  .py-20 {
    padding-top: 40px;
  }

  .pr-20,
  .p-20,
  .px-20 {
    padding-right: 40px;
  }

  .pb-20,
  .p-20,
  .py-20 {
    padding-bottom: 40px;
  }

  .pl-20,
  .p-20,
  .px-20 {
    padding-left: 40px;
  }
}

.p-80 {
  padding: 320px;
}

.py-80 {
  padding-top: 320px;
  padding-bottom: 320px;
}
.px-80 {
  padding-left: 320px;
  padding-right: 320px;
}

.section-heading,
.cta-title {
  font-weight: 700;
  font-family: var(--font-satoshi);
  font-size: 32px;
  color: var(--black-light);
  line-height: 43px;
}
.section-heading {
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .section-heading,
  .cta-title {
    font-size: 28px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 576px) {
  .section-heading,
  .cta-title {
    font-size: 24px;
    line-height: 32px;
  }
}

.section-paragraf {
  font-weight: 500;
  font-family: var(--font-satoshi);
  font-size: 18px;
  color: var(--ass);
  line-height: 24px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .section-paragraf {
    font-size: 16px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 576px) {
  .section-paragraf {
    font-size: 14px;
    line-height: 20px;
  }
}
/* custom class  */

/* our firm quite  */
.our-firm-quite {
  background: url("./assets/hero/our-firm-quite.png") no-repeat center;
  background-size: cover;
}
.our-firm-quite h4 {
  color: var(--white);
  margin: 100px 0px 100px 80px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-satoshi);
}

@media (max-width: 756px) {
  .our-firm-quite h4 {
    color: var(--white);
    margin: 90px 30px;
    text-align: center;
  }
}
/* our firm quite  X*/

/* Navbar  */

.logo {
  width: 100px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  color: white;
}

.nav-link:focus,
.nav-link:hover {
  color: white;
  opacity: 0.9;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
  opacity: 0.9;
}

.navbar-nav {
  gap: 30px;
}

.navbar-nav .dropdown-menu {
  /* background: transparent; */
  border: none;
  background: black;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-item {
  padding: 12px;
  color: white;
}

.dropdown-menu[data-bs-popper] {
  left: -75%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  width: 300%;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
  color: white;
  opacity: 0.8;
}

.offcanvas {
  background-color: var(--ass);
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.navbar-toggler-icon {
  background-image: url("./assets/menu.svg");
}

/* navbar end  */

.header-contact-button {
  border: 2px solid;
  width: 148px;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-satoshi);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.our-firm-hero {
  background-image: url("./assets/hero/our-firm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.overlay {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
  padding-bottom: 250px;
  padding-top: 320px;
}
.z--1 {
  z-index: -1;
}
.overlay-simple {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
}
.hero-industry-capability {
  z-index: -1;
}

.hero-industry-capability .breadcump{
  padding-top: 90px;
  
}
.hero-industry-capability .breadcump ul{
  display: inline-block;
  padding-left: 0;
}
.hero-industry-capability .breadcump ul li{
 padding-right: 4px;
  display: inline;
}

.hero-industry-capability .breadcump a{
  color: var(--white);
  text-transform: uppercase;
  font: 700 14px var(--font-satoshi);
  letter-spacing: 2px;
  cursor: pointer;
  display: inline;
}



.hero-industry-capability .breadcump a:hover{
  color: var(--primary);
}

.hero-industry-capability::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
  top: 0;
  left: 0;
}

.home-hero {
  background-image: url("./assets/hero/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-heading {
  font-size: clamp(3rem, 8vw, 64px);
  font-weight: 900;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--font-satoshi);
  padding: 400px 0;
  line-height: 1.2;
}

.hero-industry {
  padding: 240px 0 140px;
}
.hero-small-heading {
  font-size: clamp(3rem, 8vw, 32px);
  font-weight: 900;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--font-satoshi);
  padding-bottom: 10px;
  line-height: 1.2;
}

.hero-p {
  font: 500 24px var(--font-satoshi);
  color: var(--light-white);
  line-height: 24px;
}

/* Extra Small Devices (phones) */
@media (max-width: 575.98px) {
  /* CSS styles for extra small devices go here */
  .logo {
    width: 70px;
  }
  .hero-heading {
    padding-top: 200px;
    padding-bottom: 180px;
    margin: 0 auto;
  }

  .navbar-nav .dropdown-menu {
    background: transparent;
    border: none;
  }
}

/* Small Devices (landscape phones) */
@media (min-width: 576px) {
  /* CSS styles for small devices go here */
}

/* Medium Devices (tablets) */
@media (max-width: 768px) {
  /* CSS styles for medium devices go here */

  .navbar-nav .dropdown-menu {
    /* background: transparent; */
    background: transparent;
    width: 100%;
  }
}

/* Large Devices (desktops) */
@media (min-width: 992px) {
  /* CSS styles for large devices go here */
  .hero-heading {
    width: 80%;
    padding-top: 300px;
    padding-bottom: 300px;
  }
}

/* Extra Large Devices (large desktops) */
@media (min-width: 1200px) {
  /* CSS styles for extra large devices go here */
}

/*=========== Buttton  ============*/
.primary-button {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-satoshi);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--primary);
  padding: 10px 40px;
  display: inline-block;
  transition: ease-in-out 0.3s;
}

.primary-button:hover {
  border-radius: 0 15px;
}
/*X========== Buttton  ===========X*/

/* Solutions  */

/* ================================================= Done ============================================== */

.bottom-banner {
  padding: 200px 80px;
  position: relative;
  z-index: 1;
}
.bottom-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
  top: 0;
  left: 0;
}
.bottom-banner h3 {
  color: var(--white);
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-satoshi);
  line-height: 48px;
}

/* corporate-responsibility */
.corporate-responsibility h2 {
  font: 700 24px var(--font-satoshi);
  color: var(--black-light);
  padding-bottom: 10px;
}
.corporate-responsibility p {
  color: var(--ass);
  font: 500 18px var(--font-satoshi);
}
/* corporate-responsibility X */

/* Footer  */
footer {
  color: white;
  font-family: var(--font-satoshi);
}
footer p {
  font-size: 16px;
  line-height: 21px;
  color: var(--white);
  max-width: 321px;
}
footer h5 {
  padding-bottom: 20px;
  font-weight: 700;
}
footer ul {
  padding-left: 0;
}
footer ul li a {
  color: var(--white);
  padding-bottom: 10px;
  display: inline-block;
}
footer a {
  color: var(--white);
  display: inline-block;
}
/* Footer XXXX */
