:root {
  --primary: #033195;
  --primary-deep: #04224b;
  --secondary: #1282a2;
  --ass: #606060;
  --black-light: #212121;
  --white: #ffffff;
  --light-white: #f4f4f4;
  --font-satoshi: "Satoshi", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: var(--font-satoshi);
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
}

/*  ===========================  utility class   =======================*/

/* color and bg  */
.light-white-bg {
  background: var(--light-white);
}
.primary-bg {
  background: var(--primary);
}
.primary-deep-bg {
  background: var(--primary-deep);
}
.ass-bg {
  background: var(--ass);
}

.primary-color {
  color: var(--primary);
}
.primary-deep-color {
  color: var(--primary-deep);
}
.ass-color {
  color: var(--ass);
}

.color-white {
  color: var(--white);
}
/* color and bg  */

/* font  */
.font-18 {
  font-size: 18px;
}
/* font XX */

.section-heading,
.cta-title {
  font-weight: 700;
  font-family: var(--font-satoshi);
  font-size: 32px;
  color: var(--black-light);
  line-height: 43px;
}
.section-heading {
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .section-heading,
  .cta-title {
    font-size: 28px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 576px) {
  .section-heading,
  .cta-title {
    font-size: 24px;
    line-height: 32px;
  }
}

.section-paragraf {
  font-weight: 500;
  font-family: var(--font-satoshi);
  font-size: 18px;
  color: var(--ass);
  line-height: 24px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .section-paragraf {
    font-size: 16px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 576px) {
  .section-paragraf {
    font-size: 14px;
    line-height: 20px;
  }
}
/* custom class  */

/* our firm quite  */
.our-firm-quite {
  background: url("./assets/hero/our-firm-quite.png") no-repeat center;
  background-size: cover;
}
.our-firm-quite h4 {
  color: var(--white);
  margin: 100px 0px 100px 80px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-satoshi);
}

@media (max-width: 756px) {
  .our-firm-quite h4 {
    color: var(--white);
    margin: 90px 30px;
    text-align: center;
  }
}
/* our firm quite  X*/




.header-contact-button {
  border: 2px solid;
  width: 148px;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-satoshi);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.our-firm-hero {
  background-image: url("./assets/hero/our-firm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.overlay {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
  padding-bottom: 250px;
  padding-top: 320px;
}
.z--1 {
  z-index: -1;
}
.overlay-simple {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
}
.hero-industry-capability {
  z-index: -1;
}

.hero-industry-capability .breadcump{
  padding-top: 90px;
  
}
.hero-industry-capability .breadcump ul{
  display: inline-block;
  padding-left: 0;
}
.hero-industry-capability .breadcump ul li{
 padding-right: 4px;
  display: inline;
}

.hero-industry-capability .breadcump a{
  color: var(--white);
  text-transform: uppercase;
  font: 700 14px var(--font-satoshi);
  letter-spacing: 2px;
  cursor: pointer;
  display: inline;
}



.hero-industry-capability .breadcump a:hover{
  color: var(--primary);
}

.hero-industry-capability::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -4;
  top: 0;
  left: 0;
}

.home-hero {
  background-image: url("./assets/hero/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-heading {
  font-size: clamp(3rem, 8vw, 64px);
  font-weight: 900;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--font-satoshi);
  padding: 400px 0;
  line-height: 1.2;
}

.hero-industry {
  padding: 240px 0 140px;
}
.hero-small-heading {
  font-size: clamp(3rem, 8vw, 32px);
  font-weight: 900;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--font-satoshi);
  padding-bottom: 10px;
  line-height: 1.2;
}

.hero-p {
  font: 500 24px var(--font-satoshi);
  color: var(--light-white);
  line-height: 24px;
}

/* Extra Small Devices (phones) */
@media (max-width: 575.98px) {
  /* CSS styles for extra small devices go here */
 
  .hero-heading {
    padding-top: 200px;
    padding-bottom: 180px;
    margin: 0 auto;
  }


}

/* Small Devices (landscape phones) */
@media (min-width: 576px) {
  /* CSS styles for small devices go here */
}



/* Large Devices (desktops) */
@media (min-width: 992px) {
  /* CSS styles for large devices go here */
  .hero-heading {
    width: 80%;
    padding-top: 300px;
    padding-bottom: 300px;
  }
}


/*=========== Buttton  ============*/
.primary-button {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font-satoshi);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--primary);
  padding: 10px 40px;
  display: inline-block;
  transition: ease-in-out 0.3s;
}

.primary-button:hover {
  border-radius: 0 15px;
}
/*X========== Buttton  ===========X*/
















/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  border: 15px solid #ddd;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}

.loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 50%;
  border: 15px solid #514b82;
  animation: l18 2s infinite linear;
}

@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}